{% extends 'houseitowner/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}

 <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{% url 'userhome' %}">House<span class="color-b">it</span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link " href="{% url 'userhome' %}">Home</a>
          </li>


        </ul>
      </div>

    </div>
  </nav>
 <!-- End Header/Navbar -->
<br><br><br><br><br><br>
<div class="container">

    <h2 style="color:#007bff;"><b><span class="color-b">View/Update your profile</span></b></h2><br>



<form class="row g-3" name="userprofileform" id="userprofileform" action="/viewuser/{{ user.username }}" method="post" enctype='multipart/form-data'> {% csrf_token %}
    {% csrf_token %}
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="color-b">User Name &nbsp;</span><i class="fas fa-user color-b"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="username" name="username" readonly value="{{ username }}">
    </div>
    <br>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="color-b">First Name &nbsp;</span><i class="fas fa-user color-b"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="firstname" name="firstname" required  value="{{ firstname }}">
    </div>
    <br>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="color-b">Last Name &nbsp;</span><i class="fas fa-user color-b"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="lastname" name="lastname" required  value="{{ lastname }}">
    </div>
    <br>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="color-b">Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fas fa-user color-b"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="address" name="address" required=""  value="{{ address }}">
    </div>
    <br>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="color-b">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fas fa-edit color-b"></i></span>
        </div>
        <input type="email" class="form-control" placeholder="email" name="email" required=""  value="{{ email }}">
    </div>
    <br>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="color-b">Mobile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <i class="fas fa-edit color-b"></i></span>
        </div>
        <input type="phone" class="form-control" placeholder="phone" name="phone" required=""  value="{{ phone }}">
    </div>
    <br>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><span class="color-b">User Type &nbsp;&nbsp;&nbsp;</span><i class="fas fa-user color-b"></i></span>
        </div>

        <select class="form-control" placeholder="usertype" name="usertype" default="Sell">
            {% if usertype == "Buyer" %}
                <option value="Buyer" selected>Buyer</option>
                <option value="Owner">Owner</option>
                <option value="Tenant" >Tenant</option>
            {% endif %}
            {% if usertype == "Owner" %}
                <option value="Buyer">Buyer</option>
                <option value="Owner" selected>Owner</option>
                <option value="Tenant" >Tenant</option>
            {% endif %}
            {% if usertype == "Tenant" %}
                <option value="Buyer">Buyer</option>
                <option value="Owner">Owner</option>
                <option value="Tenant" selected>Tenant</option>
            {% endif %}

        </select>
        <br><br>
    </div>
    <br>
<!--    Next row-->
    <div class="col-md-1">
          <button  class="btn btn-secondary"  type="submit"><span class="color-b">Save</span></button>
    </div>
    <div class="col-md-1">
          <a class="btn btn-secondary" href="{% url 'userhome' %}" role="button"><span class="color-b">Return</span></a>
    </div>

</form>
{% if messages %}
          <div class="card-footer">
            <div class="alert alert-success" role="alert">
                  {% if messages %}
                    <div class="messages">
                        {% for message in messages %}

                            {{ message }}

                        {% endfor %}
                    </div>
                {% endif %}
                  </div>
          </div>
{% endif %}
</div>
{% endblock %}
